@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* { 
  box-sizing: border-box;
}

/* animation */
@keyframes slideRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.auto-run-text {
    animation: slideRight 2s linear infinite;
}
/* End animation */


:root {
    --color-primary: #EFB725;
    --color-dark: #000000;

    --bg-primary: #231F20;

    --font-color-3: "BioRhyme", serif;
}

body {
  margin: 0;
  font-family: "BioRhyme", serif;
}

a {
  text-decoration: none;
}
/* box */
/* .box {
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
}
.header .box {
    width: 1680px;
    margin-left: auto;
    margin-right: auto;
} */
.section-4  .box {
    width: 1680px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 1919.98px) {
    /* .box {
        width: 1440px;
        margin-left: auto;
        margin-right: auto;
    } */
    .section-4  .box {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}
/* End box */

/* header */
.header {
    padding: 20px 0;
    background-color: #FEFEFE;
}
.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
}
.header__right {
    display: flex;
    align-items: center;
}
.header__right nav {
    display: flex;
    align-items: center;
}
.header__right button {
    margin-left: 24px;
    border: 2px solid #EFB725;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 400;
    color: var(--color-dark);
    background-color: #FEFEFE;
}
.header__right button:hover {
    border: 2px solid #000000;
    background-color: var(--color-primary);
}
.header__link a {
    margin-left: 25px;
    font-weight: 700;
    font-size: 12px;
    color: var(--color-dark);
    text-decoration: none;
}
@media (max-width: 1198.98px) {
    .header__right button {
        font-size: 8px;
    }
    .header__link a {
        font-size: 8px;
    }
    .header__wrap {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (max-width: 991.98px) {
    .header__wrap {
        padding-left: 30px;
        padding-right: 30px;
    }
    .header__right nav {
        display: none;
    }
}
/* End header */



/* Section-1 */
.section-1 {
    object-fit: cover;
}
.section-1__content {
    position: relative;
    overflow: hidden;
}
.section-1__content--modefi {
    font-weight: 700;
    font-size: 32px;
    position: absolute;
    top: 270px;
    left: 300px;
    width: 350px;
}
.section-1__content img {
    width: 100%;
}
@media (max-width: 1198.98px) {
    .section-1__content--modefi {
        font-size: 24px;
        top: 230px;
        left: 250px;
        width: 250px;
    }
}
@media (max-width: 991.98px) {
    .section-1__content--modefi {
        font-size: 16px;
        top: 170px;
        left: 190px;
        width: 180px;
    }
}
@media (max-width: 767.98px) {
    .section-1__content--modefi {
        font-size: 12px;
        top: 130px;
        left: 130px;
        width: 120px;
    }
}
@media (max-width: 576.98px) {
    .section-1__content--modefi {
        font-size: 8px;
        top: calc(48%);
        left: calc(24%);
        width: 80px;
    }
}
/* End Section-1 */



/* Section-2 */
.section-2__wrap {
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    flex-wrap: nowrap;
    padding: 25px 0;
}
.section-2__left {
    font-weight: 700;
    font-size: 96px;
    color: var(--color-primary);
    margin-right: 96px;
    margin-left: -180px;
}
.section-2__right {
    font-weight: 700;
    font-size: 96px;
    color: var(--color-primary);
    margin-right: -148px;
}
@media (max-width: 1198.98px) {
    .section-2__left {
        font-size: 64px;
    }
    .section-2__right {
        font-size: 64px;
    }
}
@media (max-width: 991.98px) {
    .section-2__left {
        font-size: 48px;
    }
    .section-2__right {
        font-size: 48px;
    }
}
@media (max-width: 767.98px) {
    .section-2__left {
        font-size: 32px;
    }
    .section-2__right {
        font-size: 32px;
    }
}
@media (max-width: 575.98px) {
    .section-2__left {
        font-size: 24px;
    }
    .section-2__right {
        font-size: 24px;
    }
}
/* End Section-2 */


/* Section-3 */
.section-3 {
    object-fit: cover;
    margin-bottom: 80px;
}
.section-3__content {
    position: relative;
    overflow: hidden;
}
.section-3__content img:first-child {
    width: 132%;
    transform: translateX(-12%);
}
.section-3__content--modefi {
    font-weight: 800;
    font-size: 48px;
    position: absolute;
    top: calc(32%);
    left: calc(10%);
    width: calc(80%);
    height: 144px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.section-3__content--modefire {
    position: position;

}
.section-3__content--modefi span {
    color: var(--color-primary);
    font-size: 48px;
}
.section-3__content--image {
    position: absolute;
    top: calc(18%);
    left: calc(44%);
    
}
.section-3__content--modefire {
    position: absolute;
    text-align: center;
    top: calc(52%);
    left: calc(15%);
    width: calc(70%);
    color: var(--color-dark);
    font-weight: 400;
    font-size: 24px;
}
@media (max-width: 1198.98px) {
    .section-3__content--modefi {
        font-size: 32px;
        top: calc(32%);
        left: calc(10%);
        width: calc(80%);
    }
    .section-3__content--image {
        top: calc(18%);
        left: calc(45%);
        width: calc(10%);
    }
    .section-3__content--modefire {
        top: calc(48%);
        left: calc(15%);
        width: calc(70%);
        font-size: 18px;
    }
    .section-3__content--modefi span {
        font-size: 32px;
    }
}
@media (max-width: 991.98px) {
    .section-3__content--modefi {
        font-size: 24px;
        top: calc(32%);
        left: calc(10%);
        width: calc(80%);
    }
    .section-3__content--modefire {
        top: calc(48%);
        left: calc(15%);
        width: calc(70%);
        font-size: 14px;
    }
    .section-3__content--modefi span {
        font-size: 24px;
    }
}
@media (max-width: 767.98px) {
    .section-3__content--modefi {
        font-size: 18px;
        top: calc(32%);
        left: calc(10%);
        width: calc(80%);
    }
    .section-3__content--modefire {
        top: calc(48%);
        left: calc(15%);
        width: calc(70%);
        font-size: 12px;
    }
    .section-3__content--modefi span {
        font-size: 18px;
    }
}
@media (max-width: 575.98px) {
    .section-3__content--modefi {
        font-size: 12px;
        top: calc(32%);
        left: calc(10%);
        width: calc(80%);
    }
    .section-3__content--modefire {
        top: calc(48%);
        left: calc(15%);
        width: calc(70%);
        font-size: 8px;
    }
    .section-3__content--modefi span {
        font-size: 12px;
    }
}
/* End Section-3 */


/* Section-4 */
.section-4 .container {
    padding-left: 120px;
    padding-right: 120px;
}
.section-4__button  {
    margin-top: 56px;
    text-align: center;
    margin-bottom: 115px;
}
.section-4__button button {
    font-weight: 700;
    font-size: 32px;
    color: var(--color-dark);
    padding: 16px 196px;
    border-radius: 6px;
    background-color: var(--color-primary);
    border: 2px solid #EFB725;
}
.section-4__button button:hover {
    border: 2px solid #EFB725;
    background: #FFFFFF;
}
.section-4__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-4__left-1 {
    font-weight: 700;
    font-size: 32px;
    color: var(--color-dark);
    margin-bottom: 20px;
}
.section-4__left-2 {
    font-weight: 275;
    font-size: 18px;
    color: var(--color-dark);
}
.modifire-span {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 36px;
}
.setion-4__item {
    margin-bottom: 20px;
}
.section-4__right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.setion-4__content h3 {
    font-weight: 700;
    font-size: 18px;
    color: var(--color-dark);
    margin: 0;
}
@media (max-width: 1198.98px) {
    .section-4__left-1 {
        font-size: 24px;
    }
    .section-4__left-2 {
        font-size: 12px;
    }
    .setion-4__content h3 {
        font-size: 12px;
    }
    .modifire-span {
        font-size: 24px;
    }
    .section-4__right {
        padding-top: 18px;
    }
    .section-4__button button {
        font-size: 24px;
    }
    .section-4 .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (max-width: 991.98px) {
    .section-4__left-1 {
        font-size: 24px;
    }
    .section-4__left-2 {
        font-size: 12px;
    }
    .setion-4__content h3 {
        font-size: 24px;
    }
    .modifire-span {
        font-size: 24px;
    }
    .section-4__right {
        padding-top: 18px;
    }
    .section-4__wrap {
        flex-wrap: wrap;
    }
    .section-4__button button {
        font-size: 12px;
    }
}
@media (max-width: 767.98px) {
    .section-4__left-1 {
        font-size: 24px;
    }
    .section-4__left-2 {
        font-size: 12px;
    }
    .setion-4__content h3 {
        font-size: 12px;
    }
    .modifire-span {
        font-size: 24px;
    }
    .section-4__right {
        padding-top: 18px;
    }
    .section-4__wrap {
        flex-wrap: wrap;
    }
    .section-4__button button {
        font-size: 12px;
    }
}
@media (max-width: 575.98px) {
    .section-4__button button {
        padding: 16px;
        width: 80%;
        font-size: 8px;
    }
}
/* End Section-4 */



/* Section-5 */
.section-5__wrap {
    background-color: var(--bg-primary);
    border-radius: 48px;
    position: relative;
    z-index: 1;
    padding-left: 120px;
    padding-bottom: 54px;
    padding-top: 160px;
}
.section-5__title {
    font-weight: 800;
    font-size: 68px;
    margin-bottom: 72px;
    color: var(--color-primary);
}
.section-5__item {
    width: 812px;
    background-color: white;
    margin-bottom: 48px;
    border-radius: 18px;
    margin-right: 56px;
}
.section-5__images {
    margin-bottom: 24px;
}
.section-5__images img {
    border-radius: 18px;
}
.section-5__list {
    display: flex;
    overflow: hidden;

}
.section-5__info {
    padding-left: 36px;
}
.section-5__title-plus {
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 6px;
}
.sectiont-5__desc {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 36px;
}
.sectiont-5__desc-plus {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 36px;
    margin-right: 34px;
}
.section-5__price div {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #D9D9D9;
}
.section-5__price {
    display: flex;
    align-items: center;
}
.section-5__price span {
    font-weight: 700;
    margin-left: 8px;
    font-size: 56px;
    margin-right: 158px;
}
.section-5__pagination .custom-button:hover {
    border: 2px solid #EFB725;
    background: #B7B7B7;
    color: var(--bg-primary);
}
.section-5__pagination .custom-button i:hover {
    color: black;
}
.section-5__feedback {
    display: flex;
}
.section-5__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 32px;
}
.section-5__feedback div {
    width: 36px;
    height: 36px;
    border-radius: 6px;
    background-color: #D9D9D9;
    margin-left: 8px;
}
.section-5__pagination {
    display: flex;
    align-items: center;
    margin-bottom: 96px;
}
.custom-button i {
    color: #FFC107;
}

.custom-button {
    width: 50px;
    height: 50px;
    border: 2px solid #FFC107;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    font-size: 20px;
}

.custom-progress {
    width: 200px;
    height: 5px;
    background-color: #3a3a3a;
    position: relative;
    margin: 0 10px;
}

.custom-progress-bar {
    width: 33%;
    height: 100%;
    background-color: #FFC107;
    position: absolute;
}

.custom-pagination {
    display: flex;
    align-items: center;
}

.custom-pagination span {
    margin: 0 5px;
}
@media (max-width: 1198.98px) {
    .section-5__item {
        width: 100%;
    }
    .section-5__wrap {
        padding-right: 120px;
    }
}
@media (max-width: 991.98px) {
    .section-5__title {
        font-size: 48px;
    }
    .section-5__wrap {
        padding: 60px;
    }
    .section-5__title-plus {
        font-size: 32px;
    }
    .sectiont-5__desc {
        font-size: 16px;
    }
    .sectiont-5__desc-plus {
        font-size: 12px;
    }
    .section-5__price {
        font-size: 14px;
    }
    .section-5__price span {
        font-size: 14px;
    }
    .section-5__item {
        padding-bottom: 20px;
    }
}
@media (max-width: 767.98px) {
    .section-5__title {
        font-size: 32px;
    }
    .section-5__wrap {
        padding: 60px;
    }
    .section-5__title-plus {
        font-size: 32px;
    }
    .sectiont-5__desc {
        font-size: 16px;
    }
    .sectiont-5__desc-plus {
        font-size: 12px;
    }
    .section-5__price div {
        width: 16px;
        height: 16px;
    }
    .section-5__price span {
        font-size: 14px;
    }
    .section-5__feedback div{
        width: 16px;
        height: 16px;
    }
    .section-5__item {
        padding-bottom: 20px;
    }
}
@media (max-width: 575.98px) {

}
/* End Section-5 */



/* Section-6 */
.section-6__custom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-6__custom-col:first-child {
    margin-left: -20px;
}
.section-6__wrap {
    background-color: var(--color-primary);
    overflow: hidden;
    padding-top: 105px;
    padding-bottom: 55px;
    margin-top: -50px;
}
/* End Section-6 */



/* section-7 */
.section-7__wrap {
    position: relative;
    height: 1173px;
    overflow: hidden;
}
.section-7__image {
    position: absolute;
    top: 500px;
    left: 60px;
    margin-bottom: 201px;
    z-index: 1;
    
}
.section-7__image img {
    width: 500px;
    height: auto;
}
.section-7__title {
    position: absolute;
    width: 1000px;
    top: 130px;
    left: 245px;
    overflow: hidden;
    font-weight: 800;
    font-size: 180px;
    color: #BFBFBF;
}
.section-7__desc {
    position: absolute;
    top: 450px;
    left: 600px;
    border-left: 2px solid #000000;
    padding-left: 81px;
}
.section-7__desc--title {
    width: 405px;
    font-weight: 700;
    font-size: 48px;
    color: var(--color-dark);
    padding-bottom: 32px;
}
.section-7__line {
    width: 263px;
    border: 2px solid #000000;
    margin-bottom: 32px;
}
.section-7__desc--plus {
    font-weight: 300;
    font-size: 36px;
    color: var(--color-dark);
    width: 547px;
    margin-bottom: 96px;
}
.section-7__desc button {
    font-weight: 400;
    font-size: 36px;
    color: var(--color-dark);
    padding: 16px 36px;
    background-color: var(--color-primary);
    border: 0;
    border-radius: 6px;
}
.section-7__desc button:hover {
    background-color: white;
    border: 2px solid var(--color-primary);

}
.section-7__space {
    margin-bottom: 201px;
}
@media (max-width: 1198.98px) {
    .section-7__image img {
        width: 40%;
        height: auto;
    }
    .section-7__title {
        position: absolute;
        width: 1000px;
        top: 130px;
        left: 245px;
        overflow: hidden;
        font-weight: 800;
        font-size: 130px;
        color: #BFBFBF;
    }
    .section-7__desc {
        position: absolute;
        top: 450px;
        left: 50%;
        border-left: 2px solid #000000;
        padding-left: 81px;
        width: 60%;
    }
    .section-7__desc--title {
        font-size: 24px;
    }
    .section-7__desc--plus {
        font-size: 18px;
    }
    .section-7__desc button {
        font-size: 24px;
    }
}
@media (max-width: 767.98px) {
    .section-7__title {
        position: absolute;
        width: 1000px;
        top: 130px;
        left: 245px;
        overflow: hidden;
        font-weight: 800;
        font-size: 80px;
        color: #BFBFBF;
    }
    .section-7__desc {
        position: absolute;
        top: 450px;
        left: 50%;
        border-left: 2px solid #000000;
        padding-left: 81px;
    }
    .section-7__desc--title {
        font-size: 16px;
    }
    .section-7__desc--plus {
        font-size: 12px;
    }
    .section-7__desc button {
        font-weight: 400;
        font-size: 12px;
        color: var(--color-dark);
        padding: 16px 36px;
        background-color: var(--color-primary);
        border: 0;
        border-radius: 6px;
    }
}
/* End section-7 */



/* Section-8 */
.section-8__wrap {
    height: 1655px;
    margin-top: 201px;
    position: relative;
}

.section-8__left--image-1 {
    position: absolute;
    top: 1700px;
    left: 0%;
}
.section-8__left--image-2 {
    position: absolute;
    top: 5%;
    left: 18%;
}
.section-8__left--image-3 {
    position: absolute;
    top: 1272px;
    left: 25%;;
}
.section-8__right--image-4 {
    position: absolute;
    right: 100px;
    top: -200px;
}
.section-8__right--image-5 {
    position: absolute;
    top: 654px;
    right: 25%;
}
.section-8__left--content {
    position: absolute;
    top: 539px;
    width: 100%;
    right: 15%;
    width: 70%;
    text-align: right;
}
.section-8__left {
    border-right: 4px solid #231F20;
}
.section-8__number {
    width: 72px;
    height: 72px;
    font-size: 48px;
    border-radius: 50%;
    font-weight: 700;
    background-color: #020202;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
    margin-left: 81%;
}
.section-8__left--title {
    font-weight: 700;
    font-size: 48px;
    color: var(--color-primary);
    margin-bottom: 16px;
}
.section-8__left--desc {
    font-weight: 400;
    font-size: 24px;
    color: var(--color-dark);
    
}
.section-8__left--content-2 {
    top: 0px;
    text-align: left;
}
.section-8__number-1 {
    margin: 0;
}
.section-8__left--content-3 {
    right: 15%;
    top: 1153px;
    text-align: left;
}
.section-8__number-3 {
    margin-left: 0;
}
@media (max-width: 1198.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
    .section-8__left--image-2 {
        width: 50%;
    }
    .section-8__right--image-4 {
        width: 50%;
    }
    .section-8__right--image-5 {
        width: 50%;
    }
    .section-8__left--image-3 {
        width: 50%;
    }
    .section-8__left--image-1 {
        width: 50%;
    }
    .section-8__number {
        font-size: 24px;
        width: 36px;
        height: 36px;
    }
    .section-8__left--title {
        font-size: 24px;
    }
    .section-8__left--desc {
        font-size: 12px;
    }
}
@media (max-width: 575.98px) {
}
/* End Section-8 */



/* section-9 */
.section-9 {
    margin-bottom: 64px;
}
.section-9__wrap {
    position: relative;
    margin-top: 24px;
}
.section-9__wrap img {
    position: absolute;
    right: 10%;
    width: 20%;
}
.section-9__content {
    position: absolute;
    top: 340px;
    left: -50px;
    font-weight: 800;
    font-size: 240px;
    color: #BFBFBF;
}
@media (max-width: 1198.98px) {
    .section-9__content {
        position: absolute;
        top: 340px;
        left: -50px;
        font-weight: 800;
        font-size: 200px;
        color: #BFBFBF;
    }
}
@media (max-width: 991.98px) {
    .section-9__content {
        position: absolute;
        top: 340px;
        left: -50px;
        font-weight: 800;
        font-size: 140px;
        color: #BFBFBF;
    }
}
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
    .section-9__content {
        position: absolute;
        top: 340px;
        left: -50px;
        font-weight: 800;
        font-size: 100px;
        color: #BFBFBF;
    }
}
/* End section-9 */



/* section-10 */
.section-10__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.section-10 .box{
    width: 1680px;
    margin-left: auto;
    margin-right: auto;
}
.section-10__wrap {
    position: relative;
}
.section-10__item {
    background-color: var(--bg-primary);
    padding: 36px 0 48px 32px;
    border-radius: 18px;
    width: 536px;
    margin-right: 36px;
    margin-bottom: 36px;
}
.section-10__item:hover {
    background-color: var(--color-primary);
}
.section-10__item:hover .section-10__title {
    color: var(--color-dark);
}
.section-10__item:hover .section-10__images-key {
    display: none;
}
.section-10__item:hover .section-10__images i {
    display: inline;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 32px;
}
.section-10__item-2 {
    margin-right: 0;
}
.section-10__item-4 {
    margin-right: 0;
}
.section-10__images {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--color-primary);
    position: relative;
}
.section-10__images i {
    display: none;
}
.section-10__images-key {
    position: absolute;
    top: 15px;
    left: 20px;
}
.section-10__title {
    margin-top: 16px;
    font-weight: 700;
    font-size: 36px;
    color: var(--color-primary);
    margin-bottom: 8px;
}
.section-10__desc {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    width: 386px;
}
.section-10__images-bear {
    position: absolute;
    top: 72%;
    right: -50px;
}
@media (max-width: 1198.98px) {
    .section-10__item {
        margin-right: 0;
        width: 100%;
    }
    .section-10__images-bear {
        display: none;
    }
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
}
/* End section-10 */



/* Section-11 */
.section-11 .container {
    background-color: var(--bg-primary);
}
.section-11 .box-container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
.section-11__desc button {
    font-weight: 400;
    font-size: 36px;
    color: var(--color-dark);
    padding: 16px 36px;
    background-color: var(--color-primary);
    border: 0;
    border-radius: 6px;
}
.section-11__desc button:hover {
    background-color: white;
    border: 2px solid var(--color-primary);
}
.section-11__image img {
    width: 80%;
}
.section-11__image {
    margin-left: 24px;
}
.section-11__image div .img-1 {
    margin-right: 24px;
    margin-top: 30.5%;
}
.section-11__desc {
    margin-left: 0;
    margin-top: 20%;
}
.section-11__desc--title {
    font-weight: 700;
    font-size: 48px;
    color: white;
    margin-bottom: 64px;
}
.section-11__desc--plus {
    font-weight: 300;
    font-size: 18px;
    color: white;
    margin-bottom: 64px;
}
.section-11__desc--price {
    display: flex;
    margin-bottom: 86px;
}
.section-11__desc--price-1 {
    margin-right: 96px;
}
.section-11__desc--price-1 div {
    color: white;
    font-weight: 400;
    font-size: 24px;
}
.section-11__desc--price-2 div {
    color: white;
    font-weight: 400;
    font-size: 24px;
}
@media (max-width: 1198.98px) {
}
@media (max-width: 991.98px) {
    .section-11__image {
        margin: 0;
    }
    .section-11__image .img-1{
        display: none;
    }
    .section-11__image .img-2{
        display: none;
    }
}
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
    .section-11__desc--title {
        font-size: 24px;
    }
    .section-11__desc button {
        font-weight: 400;
        font-size: 12px;
        color: var(--color-dark);
        padding: 16px 36px;
        background-color: var(--color-primary);
        border: 0;
        border-radius: 6px;
    }

}
/* End Section-11 */


/* Section-12 */
.section-12 .container {
    position: relative;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
    margin-left: auto;
    margin-right: auto;
}

.section-12__head {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 126px;
    padding-top: 126px;
}
.section-12__line {
    width: 263px;
    height: 2px;
    border: 2px solid #000000
}
.section-12__item-content, .section-12__item-1 {
    font-size: 32px;
}
.section-12__title {
    font-weight: 400;
    font-size: 48px;
    color: var(--color-dark);
}
.section-12__list {
    border-bottom: 2px solid #000000;
    padding: 32px 64px;
    display: flex;
    font-weight: 800;
    font-size: 48px;
    color: var(--color-dark);
}
.section-12__list:hover {
    background-color: var(--color-primary);
}
.section-12__item-1 {
    margin-right: 155px;
}
.section-12__list:last-child {
    height: 158px;
}
@media (max-width: 1198.98px) {
    .section-12__title {
        font-size: 24px;
    }
    .section-12__item-content, .section-12__item-1 {
        font-size: 18px;
    } 
}
@media (max-width: 991.98px) {
    .section-12__title {
        display: none;
    }
}
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
}
/* End Section-12 */



/* section-13 */
.section-13 .container {
    background-color: var(--bg-primary);
    position: relative;
    z-index: 1;
    border-radius: 48px;
    margin-top: -20px;
    padding-top: 136px;
    padding-bottom: 130px;
}
.section-13__head {
    position: relative;
    overflow: hidden;
}
.section-13__list {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 150px;
    justify-content: space-between;
    color: #BDBDBD;
    position: relative;
    z-index: 1;
}
.section-13__head--title:first-child {
    margin-left: -742px;
    margin-right: 0px;
}
.section-13__head--title:last-child {
    margin-right: -740px;
}
.section-13__head--bottom {
    position: relative;
    width: 100%;
    border-radius: 18px;
    background-color: var(--bg-primary);
    top: -120px;
    z-index: 2;
    display: flex;
    justify-content: center;
    height: 337px;
}
.section-13__icon-left {
    display: flex;
    align-items: center;
    width: 40%;
    height: 337px;
    color: #FFFFFF;
    font-weight: 400;
    margin-right: 20px;
    font-size: 24px;
}
.section-13__icon-left:hover {
    background-color: var(--color-primary);
    border-radius: 18px;
}
.section-13__icon-right:hover {
    background-color: var(--color-primary);
    border-radius: 18px;
}
.section-13__icon-left img {
    margin-right: 32px;
}
.section-13__icon-right img {
    margin-right: 32px;
}
.section-13__icon-right {
    display: flex;
    align-items: center;
    width: 40%;
    height: 337px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 24px;
}
.section-13__content {
    position: relative;
    height: 1153px;
}

.section-13__content-1 {
    font-weight: 400;
    display: flex;
    font-size: 32px;
    color: white;
    margin-left: 10%;
    align-items: end;
}
.section-13__content-line {
    width: 240px;
    height: 2px;
    border-bottom: 2px solid #FFFFFF;
    margin-left: 32px;
}
.section-13__content-2 {
    position: absolute;
    left: 10%;
    top: 160px;
}
.section-13__content-3 {
    position: absolute;
    left: 30%;
    top: 380px;
}
.section-13__content-4 {
    position: absolute;
    left: 50%;
    top: 100px;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
}
.section-13__content-4 img {
    width: 32%;
}
.section-13__content-5 {
    position: absolute;
    top: 383px;
    left: 50%;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
}
.section-13__content-5 img {
    width: 32%;
}
.section-13__content-6 {
    top: 700px;
    position: absolute;
    left: 50%;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
}
.section-13__content-6 img {
    width: 32%;
}
.section-13__content-7 {
    position: absolute;
    left: 10%;
    top: 47%;
    width: 40%;
}
.section-13__content-8 {
    position: absolute;
    left: 40%;
    top: 71%;
    width: 20%;
}

.section-13__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary);
    padding: 96px 64px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 18px;
}
.section-13__form--left {
    font-weight: 700;
    font-size: 28px;
    color: var(--color-dark);
    width: 50%;
}
.section-13__form--right {
    width: 60%;
    position: relative;
}
.section-13__form--right input {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    border-radius: 6px;
    background: #FFFFFF;
    border: 0;
}
.section-13__form--right button {
    padding: 10px 18px;
    border: 2px solid #EFB725;
    border-radius: 6px;
    background: #FFFFFF;
    position: absolute;
    right: 16px;
    top: 13px;
}
.section-13__form--right button:hover {
    background: #EFB725;
    border: 2px solid var(--color-dark);
}
@media (max-width: 1198.98px) {
    .section-13__list {
        display: none;
    }
    .section-13__head--bottom {
        top: 0;
    }
    .section-13__icon-right img {
        width: 40%;
        height: auto;
    }
    .section-13__icon-left img {
        width: 40%;
        height: auto;
    }
    .section-13__icon-right, .section-13__icon-left {
        font-size: 12px;
        height: auto;
    }
    .section-13__content-7 {
        width: 34%;
        top: 62%;
    }
    .section-13__content-8 {
        width: 20%;
        top: 75%;
    }
    .section-13__content-5, .section-13__content-4, .section-13__content-6 {
        font-size: 24px;
    }
    .section-13__form {
        flex-wrap: wrap;
    }
    .section-13__form--left {
        width: 100%;
        font-size: 24px;
        margin-bottom: 20px;
    }
    .section-13__form--right {
        width: 100%;
        margin-top: 20px;
    }
}
@media (max-width: 991.98px) {

}
@media (max-width: 767.98px) {
    .section-13__content-8, .section-13__content-7, .section-13__content-2, .section-13__content-3 {
        display: none;
    }
    .section-13__content-1, .section-13__head--bottom {
        display: none;
    }
    .section-13__content-4, .section-13__content-5, .section-13__content-6 {
        left: 10%;
    }
    .section-13__form--right button {
        width: 100%;
        position: static;
        margin-top: 20px;
    }
}
@media (max-width: 575.98px) {
    .section-13__form--left {
        font-size: 18px;
    }
}
/* End section-13 */


/* footer */
.footer .container {
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    align-items: center;
}
.footer {
    border-bottom: 2px solid #000000;
}
.footer li {
    list-style: none;
}
.footer__info {
    font-weight: 300;
    font-size: 16px;
    color: var(--color-dark);
    width: 30%;
    padding: 125px 110px 125px 0px;
    border-right: 2px solid #000000
}
.footer__social {
    display: flex;
    width: 60%;
    padding-left: 10%;
}
.footer__social--11 {
    font-weight: 400;
    font-size: 12px;
    color: var(--color-dark);
}
.footer__social--11 li {
    font-weight: 300;
}
.footer__social--11 li:first-child {
    margin-top: 36px;
}
.footer__social--2 {
    margin-right: 150px;
}
.footer__social--1 {
    margin-right: 150px;
}
@media (max-width: 1198.98px) {
    .footer .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (max-width: 991.98px) {
    .footer__social--2, .footer__social--1 {
        margin-right: 20%;
    }
}
@media (max-width: 767.98px) {

}
@media (max-width: 575.98px) {

}
/* End footer */









/* Section-14 */
.section-14 {
    border-bottom: 2px solid #202020;
    border-top: 2px solid #202020;
    margin-left: auto;
    margin-right: auto;
}
.section-14__wrap {
    display: flex;
    justify-content: space-between;
}
.section-14__left {
    width: 48%;
    margin-top: 136px;
    margin-bottom: 133px;
}
.section-14__left h1 {
    font-weight: 700;
    font-size: 48px;
    font-family: "Rajdhani", sans-serif;
    margin-bottom: 48px;
}
.section-14__left button {
    font-weight: 700;
    font-size: 18px;
    color: var(--color-dark);
    padding: 16px 48px;
    background-color: var(--color-primary);
    border: 0;
    border-radius: 6px;
    margin-bottom: 64px;
}
.section-14__left button:hover {
    background-color: white;
    border: 2px solid var(--color-primary);
}
.section-14__left--desc {
    font-weight: 700;
    font-size: 16px;
    color: var(--color-dark);
    margin-bottom: 16px;
    margin-bottom: 150px;
}
.section-14__left--desc img {
    margin-top: 16px;
}
.section-14__left--footer {
    padding: 18px;
    width: 80%;
    font-weight: 700;
    font-size: 16px;
    color: var(--color-dark);
    background-color: #D7D7D7;
    border-radius: 8px;
}
.section-14__right {
    width: 50%;
    margin-top: 136px;
    background-color: var(--bg-primary);
    border-radius: 18px;
    overflow: hidden;
    margin-bottom: 133px;
}
.section-14__right--head {
    background-color: #1E1A1B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 36px;
}
.section-14__right--head-right {
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary);
    border-radius: 6px;
    padding: 7px 27px;
}
.section-14__right--head-right:hover {
    background-color: white;
}
.section-14__right--head-right:hover button {
    background-color: white;
}
.section-14__right--head-right button {
    background-color: var(--color-primary);
    border: 0;
}
.section-14__right--1 {
    padding: 32px 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-14__right--1 button{
    padding: 12px 24px;
    border-radius: 6px;
    display: flex;
}
.section-14__right--1 button:hover {
    background: #B7B7B7;
}
.section-14__right--1 button div {
    width: 24px;
    height: 24px;
    background-color: white;
    margin-right: 16px;
}
.section-14__right--1 .button-1 {
    background-color: var(--color-primary);
    border: 0;
}
.section-14__right--1 .button-2 {
    background: #FFFFFF26;
    border: 0;
}
.section-14__right--1 .button-3 {
    background: #FFFFFF26;
    border: 0;
}
.section-14__right--2 {
    display: flex;
    align-items: center;
    padding: 0 24px;
    justify-content: space-between;
}
.section-14__right--2 .button-1 {
    padding-top: 16px;
    position: relative;
    padding-right: 16px;
}
.section-14__right--2 .button-1 div {
    width: 32px;
    font-weight: 700;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    color: white;
    background-color: var(--bg-primary);
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    position: absolute;
    top: 0;
    right: 0;
}
.section-14__right--2 .button-1 button {
    background-color: var(--color-primary);
    border: 0;
    padding: 16px 32px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 12px;
}
.section-14__right--2 .button-1 button:hover {
    background: #B7B7B7;
}
.section-14__right--2 .button-2 button {
    background: #444041;
    border: 0;
    padding: 16px 32px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 12px;
}

.section-14__right--content {
    padding: 16px 36px 0px 36px;
}
.section-14__right--content--title {
    font-weight: 400;
    font-size: 12px;
    width: 85%;
    color: var(--color-primary);
    margin-bottom: 32px;
}
.section-14__right--content--info-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 16px;
    color: #FFFFFF6B;
}
.section-14__right--content--info-1 span{
    text-decoration: underline;
}

.section-14__right--content--info-2 {
    font-weight: 700;
    font-size: 24px;
    color: white;
    margin-bottom: 24px;
}

.section-14__right--3 {
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.section-14__right--3 input {
    width: 100%;
    padding: 18px 16px 18px 22px;
    border: 0;
    border-radius: 6px;
    font-weight: 700;
    font-size: 16px;
    background: #FFFFFF26;
    color: #808080;
    outline: none;
}
.section-14__right--3 button {
    background-color: var(--color-primary);
    font-weight: 700;
    font-size: 16px;
    color: black;
    height: 41px;
    padding: 8px 24px;
    position: absolute;
    top: 10px;
    border-radius: 6px;
    right: 16px;
}
.section-14__right--3 button:hover {
    background-color: white;
}
.section-14__right--4 {
    display: flex;
    align-items: center;
    margin-bottom: 38px;
    margin-top: 16px;
    padding: 0 36px;
    justify-content: space-between;
}
.section-14__right--4-1 div:first-child {
    font-weight: 700;
    color: white;
    font-size: 12px;
}
.section-14__right--4-1:first-child {
    border-right: #D9D9D9;
    padding-right: 56px;
}
.section-14__right--4-1 div:last-child {
    font-weight: 700;
    color: #FFFFFF6B;
    text-align: center;
    font-size: 18px;
}
.section-14__right--4-2 {
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    padding-left: 56px;
    padding-right: 56px;
}
.seciton-14__button {
    width: 90%;
    margin-left: 36px;
    margin-right: 36px;
    padding: 12px 160px;
    font-weight: 700;
    font-size: 12px;
    color: var(--color-dark);
    border-radius: 6px;
    background-color: var(--color-primary);
    margin-bottom: 36px;
}
.seciton-14__button:hover {
    background-color: white;
}
@media (max-width: 1198.98px) {
    .section-14__right--1 {
        display: none;
    }
}
@media (max-width: 991.98px) {
    .section-14__wrap {
        flex-wrap: wrap;
    }
    .section-14__left {
        width: 100%;

    }
    .section-14__right {
        width: 100%;
    }
    .section-14__right--1 {
        display: flex;
    }
    .section-14__left--footer {
        width: 100%;
    }
    .section-14__left h1 {
        font-size: 64px;
    }
}
@media (max-width: 767.98px) {
    .section-14__right--1 {
        display: none;
    }
}
@media (max-width: 576.98px) {
    .section-14__right--2 {
        display: none;
    }
    .seciton-14__button {
        width: 80%;
        font-size: 8px;
    }
}
/* End Section-14 */