@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&display=swap');

:root {
    --bg-primary: ##5C5C5C;
}
  
* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    font-family: "BioRhyme", serif;
}
  
a {
    text-decoration: none;
}
